<div class="d-flex">
    <h1 class="mr-auto">Products</h1>
    <div>
        <a class="btn btn-primary" [routerLink]="'create-product'">
            Create product
        </a>
    </div>
</div>

<div class="text-center" *ngIf="isLoading$ | async">
    <div class="spinner-border" role="status"></div>
    <div>Loading...</div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            <a href="#">Product title</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Brand: Adidas</h6>
        <p class="card-text">
            Product description
        </p>
        <p class="card-text">
            Price: <b>$200</b>
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            <a href="#">Product title</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Brand: Adidas</h6>
        <p class="card-text">
            Product description
        </p>
        <p class="card-text">
            Price: <b>$200</b>
        </p>
    </div>
</div>
