<div class="d-flex">
    <h1 class="mr-auto">Products</h1>
    <div>
        <button type="button" class="btn btn-primary">
            Add product
        </button>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">
            Product description
        </p>
        <p class="card-text">
            Price: <b>$200</b>
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">
            Product description
        </p>
        <p class="card-text">
            Price: <b>$200</b>
        </p>
    </div>
</div>
